<!DOCTYPE html>
<html lang="cn">
    <head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></head>
    <body>
        <div class="container">
            <h1>A FLower Search System🌷</h1>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="query_img"><br>
                <input type="submit">
            </form>
            <h2>Upload your flower image：</h2>
            {% if query_path %}
            <img src="{{ query_path }}" width="300px">
            {% endif %}
            <h2>Flower name：</h2>
            <p style="font-size:150%;">{{ variable }}</p>
            <h2>More images from the web🌐：</h2>
            {% for url, dist in scores %}
            <div style=" display: grid;">
                <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                    <img src="{{ url }}" height="200px">
                </figure>
                <label>Manhattan distance：{{ dist }}</label>
            </div>
            {% endfor %}
        </div>
    </body>
</html>